.tag-container-padding{
    padding: 6px 4px;
}

.tag-container{
    display: flex;
    width: 200px;
    gap: 10px;
    flex-wrap: wrap;
/*     border: solid 1px gray; */
}

.mark-container{
    display: flex;
    background-color: lightblue;
    width: 200px;
    height: 50px;
    gap: 15px;
}