.tag{
  height: 1.4rem;
  border-radius: 3px;
  color: white;
  padding-left: calc(2px + 0.5rem); /* (4px + ... */
  padding-right: 0.5rem;
  position: relative;
  background-color: #C9C9C9;
}

.tag-nudge{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.mark{
    /* border: 1px solid red; */
    border-radius: 3px;
    background-color: white;
    color: #0D5E9D;
}


/* .tag{
    background: lightskyblue;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
  }
  .tag:before {
    border-bottom: 35px solid lightskyblue;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
    transform: rotate(90deg);
  } */